*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  background-color: #d2d4d7;
  font-family: sans-serif;
  position: relative;
}

body.preview-open {
  overflow: hidden;
}

header {
  text-align: center;
  background-color: rgb(51, 51, 51);
  color: gainsboro;
  font-size: 45rem;
  font-weight: bold;
  padding-top: 20rem;
  padding-bottom: 20rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 750rem;
  border-radius: 10rem;
  background-color: #eceef1;
  margin: 50rem auto;
  box-shadow: 0 8rem 16rem rgba(0, 0, 0, 0.392);
  padding: 45rem 25rem 10rem 25rem;
}

h1 {
  width: 100%;
  text-align: left;
  font-size: 23rem;
  color: rgb(56, 56, 56);
  margin-bottom: 15rem;
}

.information-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30rem;
}

input {
  width: 100%;
  margin-bottom: 15rem;
  padding: 7rem 0rem 7rem 7rem;
  border-radius: 5rem;
  border: 1rem solid gainsboro;
  font-size: 20rem;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding-left: 0rem;
}

li {
  margin-bottom: 10rem;
}

.cv-buttons {
  width: 100%;
  font-size: 20rem;
  font-weight: bold;
  color: rgb(238, 238, 238);
  background-color: rgb(54, 54, 54);
  border: none;
  border-radius: 7rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  transition: background-color 0.3s ease;
}

.cv-buttons:hover {
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}

.add {
  margin-bottom: 30rem;
}

.green {
  margin-bottom: 10rem;
  background-color: rgb(31, 186, 0);
}

.red {
  background-color: rgb(233, 0, 0);
}

.green:hover {
  cursor: pointer;
  background-color: rgb(0, 146, 0);
}

.red:hover {
  cursor: pointer;
  background-color: rgb(196, 0, 0);
}

footer {
  width: 100%;
  background-color: rgb(51, 51, 51);
  color: rgb(234, 234, 234);
  text-align: center;
  font-size: 15rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
  background-color: rgba(0, 0, 0, 0.66);
  overflow: auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.66);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 300rem;
  padding-right: 300rem;
  overflow: auto;
}

.personalInfo-h1 {
  font-size: 35rem;
  color: white;
  margin-bottom: 0rem;
}

.personalInfo-p {
  font-size: 20rem;
  color: white;
  text-align: start;
  font-weight: 500;
}

.personalInfo-header {
  background-color: #4caf50;
  padding-top: 15rem;
  padding-left: 15rem;
  padding-bottom: 70rem;
}

.modal-content {
  max-height: 1200rem;
  overflow: hidden;
}

.infoContainer {
  background-color: white;
  display: grid;
  grid-template-columns: 2.1fr 0.9fr;
  height: 1500rem;
}

.right {
  background-color: #edeff2;
}

.details-h1 {
  color: #4caf50;
  border-bottom: 1rem solid rgb(183, 183, 183);
  margin-bottom: 10rem;
}

.details-h2 {
  font-size: 20rem;
  margin-bottom: 5rem;
  color: rgb(87, 87, 87);
}

.details-p {
  font-size: 16rem;
  margin-bottom: 10rem;
  color: rgb(98, 98, 98);
}

.details-div {
  padding-left: 7rem;
  padding-right: 7rem;
  padding-bottom: 100%;
}

.left {
  padding: 15rem 55rem 0rem 15rem;
}

.left-h1 {
  color: #4caf50;
  border-bottom: 1rem solid rgb(183, 183, 183);
  margin-bottom: 5rem;
  font-size: 25rem;
  margin-bottom: 10rem;
}

.left-p-italic {
  font-style: italic;
  font-size: 18rem;
  color: rgb(105, 105, 105);
  margin-bottom: 50rem;
}

.info-li {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img {
  width: 100%;
}

.field-photo {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15rem;
  padding: 7rem 0rem 7rem 7rem;
  border-radius: 5rem;
  border: none;
  font-size: 20rem;
  font-weight: 300;
  background-color: white;
  color: gray;
  font-weight: 400;
  cursor: pointer;
}

.photo-input {
  display: none;
  width: 100%;
}

.field {
  width: 100%;
}
